{% extends 'base.html' %} 
{% load static %} 
{% block content %}
{%load humanize%}


<!-- cards -->

<div class="container mt-4">
  <div class="row">
    <div class="col-md-12">
      <h1 class="title" id="products-section">Productos destacados</h1>
      {% for product in products %}
      <a
        href="{% url 'product_detail' product.product_id %}"
        class="text-decoration-none">
        <div class="card bg-light" style="border-radius: 15px; margin-top: 20px">
          <div class="row">
            <div class="col-md-4">
              <div
                id="productCarousel2"
                class="carousel slide"
                data-ride="carousel"
                data-interval="10000">
                <div class="carousel-inner">
                  {% for image in product.images.all %}
                  <div class="carousel-item {% if forloop.first %}
                              active
                              {% endif %}">
                    <img
                      src="{{ image.get_image_url }}"
                      alt="{{ image.alt_text|default:product.name }}"
                      class="img-fluid d-block w-100"
                      style="
                        border-radius: 15px;
                        max-height: 17rem;
                        height: 17rem;
                        object-fit: cover;
                      " />
                  </div>
                  {% endfor %}
                </div>
                <a
                  class="carousel-control-prev"
                  href="#productCarousel2"
                  role="button"
                  data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Anterior</span>
                </a>
                <a
                  class="carousel-control-next"
                  href="#productCarousel2"
                  role="button"
                  data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Siguiente</span>
                </a>
              </div>
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h2 class="card-title">{{ product.name }}</h2>
                <div class="product-rating mb-2">
                  <p>
                    <span class="text-warning">
                      {% for i in rating_range %}
                        {% if i <= product.avg_rating %} 
                         <i class="bi bi-star-fill text-warning"></i> 
                        {% else %}
                        <i class="bi bi-star text-warning"></i>
                        
                        {% endif %}   
                      {% endfor %}
                    </span>
                    <small class="text-muted">{{ product.avg_rating }}</small>
                  </p>
                </div>
                <p class="card-text">{{ product.description }}</p>
                <div class="mb-4">
                  <span class="h3 text-danger">${{ product.converted_price|intcomma }} {{ product.currency }}</span>
                  {% if product.offer_price %}
                  <span class="text-muted text-decoration-line-through ms-2">${{ product.converted_offer_price|intcomma }} {{product.currency}}</span>
                  <span class="badge bg-danger ms-2">Oferta</span>
                  {% endif %}
              </div>
                <button class="btn btn-success">Realizar mi pedido</button>
              </div>
            </div>
          </div>
        </div>
      </a>
      {% endfor %} 
    </div>
  </div>
  {% endblock %}