<nav class="navbar navbar-expand-lg navbar-light fixed-top shadow-sm" id="mainNav">
    <div class="container px-5">
        <a class="navbar-brand fw-bold" href="{% url 'home' %}">SHINGY</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="bi-list"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto me-4 my-3 my-lg-0">
                <li>
                <form method="post" action="{% url 'set_currency' %}">
                    {% csrf_token %}
                    <select name="currency" class="form-select me-5 w-3" onchange="this.form.submit()" >
                        <option value="COP" {% if request.session.currency == 'COP' %}selected{% endif %}>🇨🇴 COP</option>
                        <option value="USD" {% if request.session.currency == 'USD' %}selected{% endif %}>🇺🇸 USD</option>
                        <option value="EUR" {% if request.session.currency == 'EUR' %}selected{% endif %}>🇪🇺 EUR</option>
                        <option value="MXN" {% if request.session.currency == 'MXN' %}selected{% endif %}>🇲🇽 MXN</option>
                        <option value="ARS" {% if request.session.currency == 'ARS' %}selected{% endif %}>🇦🇷 ARS</option>
                        <option value="BRL" {% if request.session.currency == 'BRL' %}selected{% endif %}>🇧🇷 BRL</option>
                        <option value="CLP" {% if request.session.currency == 'CLP' %}selected{% endif %}>🇨🇱 CLP</option>
                        <option value="PEN" {% if request.session.currency == 'PEN' %}selected{% endif %}>🇵🇪 PEN</option>
                    </select>
                </form>
                </li>
                <li class="nav-item"><a class="nav-link me-lg-3" href="#features">Features</a></li>
                <li class="nav-item"><a class="nav-link me-lg-3" href="{% url 'home' %}">Inicio</a></li>
            </ul>
            <a href="{% url 'product_detail' "9b462e23-07d7-41db-bb3c-fa92a9713111" %}">
            <button class="btn btn-primary rounded-pill px-3 mb-2 mb-lg-0" data-bs-target="#products-section">
                <span class="d-flex align-items-center">
                    <i class="bi-shop me-2"></i>
                    <span class="small">Comprar ahora</span>
                </span>
            </button>
        </a>
        </div>
    </div>
</nav>
        <!-- Contenido -->